nav.navbar {
  background-color: var(--fourth-color) !important;
}

.navbar-toggler {
  background-color: var(--fourth-color);
}

a.nav-link {
  color: var(--secondary-color);
  font-weight: 600;
  border-bottom: transparent 3px solid;
}

a.nav-link.active,
a.nav-link:hover {
  border-bottom: var(--primary-color) 3px solid;
}

img.slca-logo {
  height: 50px;
}

@media screen and (max-width: 767px) {
  img.slca-logo {
    height: 40px;
  }

  a.nav-link {
    padding-left: 1rem;
  }
  
  .navbar {
    height: auto;
  }
}